
/*Define variables for colors*/
:root {
    --brown: #4A2409;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}




#logo {
    /*width and height dimension are the same on desktop and mobile*/
    width: 224px;
    height: 47px;
    /* margin: 25px auto 0 50px; */
    /* margin-right: auto;
    margin-top: 15px;
    margin-left: 40px; */

    /* align-items: center; */
}  
#navbar {
    position: absolute;
    top: 18px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#navbar ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 26px 0 0 0; /*margin-top between nav menu and logo on mobile*/
    list-style-type: none;
}
#navbar li {
    padding: 0;
    margin: 0;
}
#navbar li a {
    text-transform: uppercase;
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
}
#navbar li a:hover {
    text-decoration: underline;
}

.round-corners {
    border-radius: 20px;
}

.hero {
    /* background-color: var(--brown); */
    background-image: linear-gradient(var(--brown), rgba(0,0,0,0))
    ,url("../img/header-photo.jpg");
    background-size: cover;
    height: 650px;
    max-width: 1300px;
    
    /* Center-center the h1 in the hero */
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero h1 {
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #fff;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    text-shadow: 0 5px 12px var(--brown);
}


@media (min-width: 1000px) {
    
    body {
        background-color: #35667C;
    }
    

    #wrapper {
        background-color: #fff; 
        /* max-width: 1320px; */
        border-radius: 20px;
        margin: 20px 60px;
        max-width: 1320px; /*Max-width = 1300px(width of hero img) + 10px border on both sides*/
        position: relative; 
        /*absolute child navbar in relative parent needed to break navbar out of flow and place it at top of hero*/
    }

    #hero-wrapper {
        border-radius: 20px;
        border: 10px #fff solid;
        /*The width and height = 20+with and height of hero image
        because 10px white border around and box-sizing: border-box,
        so border and padding is included in width and height values.*/
        max-width: 1320px; 
        height: 670px;
        margin: 10px auto;
        padding: 0;
    }

    .hero {
        border-radius: 11px;
    }

    .hero h1 {
        font-size: 47px;
        margin: 0 102px;
    }

    #navbar {
        display: flex;

        position: absolute;
        top: 25px;
        left: 50px;

        width: calc(100% - 50px);

    }
    #navbar ul {
        align-self: flex-end;
        margin: 0 35px 0 0; /*margin-right of menu = 50px - 15px padding*/
    }

    #logo {
        margin-right: auto;
    }

}